#challenges {
  .fa-6 {
    font-size: 10rem;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .challenge-image {
    width:50%;
    max-width: 250px;
    min-width: 200px;
    display: block;
    margin: 0 auto;
  }
}